<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1050400217319-ectu4ovc5ds8uqtubnom8v5ckct35b8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050400217319-ectu4ovc5ds8uqtubnom8v5ckct35b8d</string>
	<key>API_KEY</key>
	<string>AIzaSyCbPEulQo-M9F21WV9X9sXGR7pa9MKYiHc</string>
	<key>GCM_SENDER_ID</key>
	<string>1050400217319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melissadbain.SnapDevChat</string>
	<key>PROJECT_ID</key>
	<string>snapdevchat-b6e2e</string>
	<key>STORAGE_BUCKET</key>
	<string>snapdevchat-b6e2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050400217319:ios:6631bb4d1a30837b</string>
	<key>DATABASE_URL</key>
	<string>https://snapdevchat-b6e2e.firebaseio.com</string>
</dict>
</plist>